version: '2'

services:
  stratus_backend:
    image: serhio/stratus_backend
    container_name: stratus_backend
    command: /start.sh
    environment:
      - POSTGRES_USER=stratus
      - USE_DOCKER=yes
    volumes:
      - {{ stratus_backend_docker_volume_app_name }}:/app
    ports:
      - "5000:5000"
    networks:
      - stratus_default

volumes:
  {{ stratus_backend_docker_volume_app_name }}: {}

networks:
  stratus_default:
    external: true
