version: '2'

services:
  stratus_backend:
    image: serhio/stratus_backend
    container_name: stratus_backend
    command: /start.sh
    environment:
      - POSTGRES_USER={{ stratus_pg_user }}
      - POSTGRES_PASSWORD={{ stratus_pg_password }}
      - POSTGRES_HOST={{ stratus_pg_host }}
      - POSTGRES_PORT={{ stratus_pg_port }}
      - REDIS_HOST={{ stratus_redis_host }}
      - REDIS_PORT={{ stratus_redis_port }}
      - USE_DOCKER=yes
    volumes:
      - app:/app
    ports:
      - "5000:5000"
    networks:
      - stratus_default

  stratus_redis:
    image: redis
    container_name: stratus_redis
    ports:
      - "6379:6379"
    networks:
      - stratus_default

volumes:
  app: {}

networks:
  stratus_default:
    external: true
