version: '2'

services:
  postgres:
    container_name: postgres
    image: serhio/postgres:9.5
    environment:
      - POSTGRES_USER={{ postgres_user }}
      - POSTGRES_PASSWORD={{ postgres_password }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - data:/var/lib/postgresql/data
      - wal:/var/lib/postgres/data/pg_xlog
      - backups:/backups
    ports:
      - "5432:5432"
    restart: always
    mem_limit: 1024M
    networks:
      - stratus_default

volumes:
  data: {}
  backups: {}
  wal: {}

networks:
  stratus_default:
    external: true
