[Unit]
Description=tailon
After=syslog.target
After=network.target

[Service]
Type=simple
PIDFile=/var/run/tailon.pid
User=root
Group=root
ExecStart=/usr/local/bin/tailon -a -b 0.0.0.0:8888 -f /var/log/docker/*/*.log
ExecStop=/bin/kill $MAINPID
TimeoutSec=300

[Install]
WantedBy=multi-user.target
