version: '2'

services:
  prometheus:
    container_name: prometheus
    image: serhio/prometheus:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - data:/prometheus
      - cfg:/cfg
    ports:
      - "9090:9090"
    restart: always
    networks:
      - stratus_default

  postgres_exporter:
    container_name: postgres_exporter
    image: wrouesnel/postgres_exporter
    volumes:
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "9187:9187"
    restart: always
    networks:
      - stratus_default
    environment:
      - DATA_SOURCE_NAME={{ postgres_exporter_datasource_name }}

  alertmanager:
    container_name: alertmanager
    image: prom/alertmanager
    ports:
      - "9093:9093"
    restart: always
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - cfg:/cfg
      - alertmanager:/alertmanager
    networks:
      - stratus_default
    command: ["-config.file=/cfg/alertmanager.yml", "-storage.path=/alertmanager"]

volumes:
  data: {}
  cfg: {}
  alertmanager: {}

networks:
  stratus_default:
    external: true
