version: '2'

services:
  prometheus:
    container_name: prometheus
    image: serhio/prometheus:latest
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - data:/prometheus
      - cfg:/cfg
    ports:
      - "9090:9090"
    restart: always
    networks:
      - stratus_default

volumes:
  data: {}
  cfg: {}

networks:
  stratus_default:
    external: true
