global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}
  external_labels:
      monitor: {{ prometheus_attach_label_monitor }}

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
       - {{ prometheus_alert_manager_target }}

rule_files:
  - {{ prometheus_rules_path }}

scrape_configs:
  - job_name: 'postgres'
    honor_labels: true
    static_configs:
      - targets: ['postgres_exporter:9187']
  
  - job_name: 'blackbox'
    scrape_interval: 1m
    scrape_timeout: 10s
    metrics_path: /probe
    params:
      module: [https]
    static_configs:
      - targets:
        - https://fbs.id
        - https://fbs.com
        - https://esfbs.com
        - https://fbs.ae
        - https://fbs.cn
        - https://fbs.co.th
        - https://fbs.com.bd
        - https://fbs.com.mm
        - https://fbs.forex
        - https://fbsde.com
        - https://fbsfx.pk
        - https://fbsit.com
        - https://fbstr.com
        - https://fbsturk.com
        - https://turkeyfbs.com
        - https://fbsturkey.com
        - https://fbstrk.com
        - https://trkfbs.com
        - https://frfbs.com
        - https://idnfbs.com
        - https://jpfbs.com
        - https://kofbs.com
        - https://laofbs.com
        - https://ltfbs.com
        - https://ptfbs.com
        - https://tafbs.com
        - https://thfbs.com
        - https://trfbs.com
        - https://vnfbs.com

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox_exporter:9115
