global:
  scrape_interval: {{ prometheus_scrape_interval }}
  evaluation_interval: {{ prometheus_evaluation_interval }}
  external_labels:
      monitor: {{ prometheus_attach_label_monitor }}

alerting:
  alertmanagers:
  - scheme: http
    static_configs:
    - targets:
       - {{ prometheus_alert_manager_target }}

rule_files:
  - {{ prometheus_rules_path }}

scrape_configs:
  - job_name: 'postgres'
    honor_labels: true
    static_configs:
      - targets: ['postgres_exporter:9187']
  
  - job_name: 'blackbox'
    scrape_interval: 1m
    scrape_timeout: 10s
    metrics_path: /probe
    params:
      module: [http_2xx]
    static_configs:
      - targets:
        - https://fbs.id
        - https://fbs.com
        - https://google.com
        - http://www.lostfilm.tv

    relabel_configs:
      - source_labels: [__address__]
        target_label: __param_target
      - source_labels: [__param_target]
        target_label: instance
      - target_label: __address__
        replacement: blackbox_exporter:9115
