version: '2'

services:
  gogs:
    container_name: gocd
    image: gocd/gocd-server:{{ gocd_ver }}
    volumes:
      - /etc/localtime:/etc/localtime:ro
      - godata:/godata
      - gohome:/home/go
    ports:
      - "8153:8153"
      - "8154:8154"
    restart: always
    networks:
      - stratus_default

volumes:
  godata: {}
  gohome: {}

networks:
  stratus_default:
    external: true
